alabaster==0.7.10
Babel==2.4.0
blessings==1.6
certifi==2022.12.7
chardet==3.0.4
curtsies==0.2.11
decorator==4.1.2
defusedxml==0.5.0
Django==1.11.2
django-allauth==0.32.0
django-hosts==2.0
django-markdownx==2.0.21
django-markupfield==1.4.2
docutils==0.13.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
idna==2.5
imagesize==0.7.1
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
meinheld==0.6.1
oauthlib==2.0.2
olefile==0.44
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
prompt-toolkit==1.0.15
psycopg2==2.7.1
ptyprocess==0.5.2
Pygments==2.2.0
python3-openid==3.1.0
pytz==2017.2
requests==2.17.3
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
sorl-thumbnail==12.3
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
stripe==1.59.0
traitlets==4.3.2
urllib3==1.21.1
uWSGI==2.0.15
wcwidth==0.1.7
